body
{
    background-color: rgb(5, 12, 32);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1sp-Jxsp5ArVJERaGDFZX2S9hYDS5ZFADzg&s");
    background-repeat: no-repeat;
    background-size: cover;
    color : rgb(235, 234, 205);
    font-family: cursive;
    font-size: small;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 0;
}

strong
{
    color:rgb(241, 244, 255);
}

.contents
{
    background-color: rgb(17,1,75);
    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 50px; */
    padding: 5px 50px 7px 50px;
    border: solid 5px white;
    margin: 20px;
}
.header
{
    background-color: rgb(17, 1, 75);
    color: darkblue
}

main
{
    background-color: black;
    border-radius: 40px;
    border: solid 2px wheat;
    margin: 8px auto 20px auto;
    width: 80%;
    padding: 20px 20px 0 20px;
}

img
{
    border-radius: 20px;
    border: solid 2px wheat;
}
/*
.article h2
{
    color: blue;
}

.article h3
{
    color: rgb(115, 158, 214);
}
.article p{
    color:rgb(184, 184, 240);
}

.footer h4
{
    color : rgb(70,120,255);
} */

footer 
{
    background-color: black;
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: center;
}

.centerImg 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centerText
{
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}
